<a href="https://colab.research.google.com/github/Drashti-Naik/colab-python/blob/main/handling_program_flow_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 # Handling Program Flow in Python

<img src="https://github.com/commit-live-students/GLabs_DSMP_New_Solutions/blob/master/01_Python_Data_Science_Toolkit/03_Handling_Program_Flow_in_Python/Exercise/images/icon/Technical-Stuff.png?raw=1" alt="Concept-Alert" style="width: 100px;float:left; margin-right:15px"/>
<br /> 

# Python Programming Constructs
***
We'll be talking about
- Conditional Statements
- Looping
- Comprehensions
- Functions

# If,elif,else Statements

if Statements in Python allows us to tell the computer to perform alternative actions based on a certain set of results.

Verbally, we can imagine we are telling the computer:

"Hey if this case happens, perform some action"

We can then expand the idea further with elif and else statements, which allow us to tell the computer:

"Hey if this case happens, perform some action. Else if another case happens, perform some other action. Else-- none of the above cases happened, perform this action"

Let's go ahead and look at the syntax format for if statements to get a better idea of this:

    if case1:
        perform action1
    elif case2:
        perform action2
    else: 
        perform action 3

### Instructions
Is the number positive or negative?

In this task you are going to make use of the if-elif-else statement to find out if a number is positive, negative or zero.

* A variable `num = -5` is given along with another variable `condition=None` (captures the state of num)

* Put the conditions for checking whether the number is positive (+) , negative (-) or zero (0) using if-elif-else construct.

* If `num` is greater than 0 set `condition='positive'`. Print out the variable condition.

* Elif `num` is less than 0, set `condition='negative'`. Print out the variable condition.

* Else num is equal to 0 set `condition='zero'`. Print out the variable condition.

In [ ]:
num=-5
condition=None

if num>0:
  condition='positive'
  print(condition)
elif num<0:
  condition='negative'
  print(condition)
else:
  condition='zero'
  print(condition)

negative

In [ ]:
# find number is even or odd
num=81

if num%2==0:
  print("even")
else:
  print("odd")

odd

<img src="https://github.com/commit-live-students/GLabs_DSMP_New_Solutions/blob/master/01_Python_Data_Science_Toolkit/03_Handling_Program_Flow_in_Python/Exercise/images/icon/Warning.png?raw=1" alt="Warning" style="width: 100px;float:left; margin-right:15px"/>
<br />

### Indentation
***
It is important to keep a good understanding of how indentation works in Python to maintain the structure and order of your code. We will touch on this topic again when we start building out functions!

<img src="https://github.com/commit-live-students/GLabs_DSMP_New_Solutions/blob/master/01_Python_Data_Science_Toolkit/03_Handling_Program_Flow_in_Python/Exercise/images/icon/Technical-Stuff.png?raw=1" alt="Technical-Stuff" style="width: 100px;float:left; margin-right:15px"/>
<br />

# For Loops
***
A **for** loop acts as an iterator in Python, it goes through items that are in a *sequence* or any other iterable item. Objects that we've learned about that we can iterate over include strings,lists,tuples, and even built in iterables for dictionaries, such as the keys or values.

We've already seen the **for** statement a little bit in past lectures but now lets formalize our understanding.

Here's the general format for a **for** loop in Python:

    for item in object:
        statements to do stuff

The variable name used for the item is completely up to the coder, so use your best judgment for choosing a name that makes sense and you will be able to understand when revisiting your code. This item name can then be referenced inside you loop, for example if you wanted to use if statements to perform checks.

Let's go ahead and work through several example of **for** loops using a variety of data object types. we'll start simple and build more complexity later on.

### Instructions

**Find numbers divisible by 2 or 4**

In this task you will learn how to use a for loop and conditionals by making a list of natural numbers less than or equal to 60 which are divisible by 2 or 4.

* Iterate over a range using the `range()` function from `1` to `61` using the for loop

* Initialize an empty list named `divisible` to store your results

* Use the if statement to check if the iterable is divisible by `2` or `4`, and if yes, then append it to the list created in the above step

* Print `divisible`

In [ ]:
divisible=[]

for i in range(1,61):
  if i%2==0 or i%4==0:
    divisible.append(i)

print(divisible)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60]

### Instructions

* Now its time for you to code again can you create a list of 10 numbers iterate through the list and print the square of each number.

In [ ]:
range(10)

range(0, 10)

In [ ]:
for i in range(10):
  print(i**2)

0
1
4
9
16
25
36
49
64
81

<img src="https://github.com/commit-live-students/GLabs_DSMP_New_Solutions/blob/master/01_Python_Data_Science_Toolkit/03_Handling_Program_Flow_in_Python/Exercise/images/icon/Technical-Stuff.png?raw=1" alt="Technical-Stuff" style="width: 100px;float:left; margin-right:15px"/>
<br />

# While loops
***
The **while** statement in Python is one of most general ways to perform iteration. A **while** statement will repeatedly execute a single statement or group of statements as long as the condition is true. The reason it is called a 'loop' is because the code statements are looped through over and over again until the condition is no longer met.

The general format of a while loop is:

    while test:
        code statement
    else:
        final code statements

Let’s look at a few simple while loops in action.

### Instructions
**Find multiples of 20**

In this task you will be using a while loop to iterate over natural numbers from 1 to 200 and store only the multiples of 20 in a list and print that list

* Initialize an empty list `factors` and a variable `num` equal to `1`

* Set the condtion in the `while` loop until the variable `num` is equal to or less than `200`

* Check using an if statement whether the variable is divisible by 20 and if it is, append that number to `factors`

* Increment the variable `num` by `1` post checking the above condition. (note that this increment will be outside the if statement, take care of the indentation in order to avoid a scenario of infinite loop)

* Print out the `factors` list

In [ ]:
factors=[]
num=1

while num<=200:
  if num%20==0:
    factors.append(num)
  num=num+1

print(factors)

[20, 40, 60, 80, 100, 120, 140, 160, 180, 200]

<img src="https://github.com/commit-live-students/GLabs_DSMP_New_Solutions/blob/master/01_Python_Data_Science_Toolkit/03_Handling_Program_Flow_in_Python/Exercise/images/icon/Technical-Stuff.png?raw=1" alt="Technical-Stuff" style="width: 100px;float:left; margin-right:15px"/>
<br />

## Comprehensions
***
- Python provides syntactic sugar to write small loops to generate lists/sets/tuples/dicts in one line
- These are called comprehensions, and can greatly increase development speed and readability

Syntax:
```
    sequence = [expression(element) for element in iterable if condition]
```

The brackets used for creating the comprehension define what type of object is created.

Use **[ ]** for lists, **()** for _generators_, **{}** for sets and dicts

### `list` Comprehension

### Instructions
* Assign a list of names as `["Ravi", "Pooja", "Vijay", "Kiran"]` to the variable `names`
* Make a list `hello` using list comprehension in that add `"Hello "` +  which would contain elements which are in `names`

In [ ]:
names=["Ravi", "Pooja", "Vijay", "Kiran"]

In [ ]:
hello=["Hello " + i for i in names]

In [ ]:
hello

['Hello Ravi', 'Hello Pooja', 'Hello Vijay', 'Hello Kiran']

### Instructions

**Present in one but absent in another**

In this task you will make a list comprehension to return a list of numbers which are not present in another list of numbers.

* Define a list of numbers `alist` from `1` to `50` using a list comprehension.

* Define another list `blist` and store its values as [1,3,5,10,14,13,17,19,23,29,31,38,41,45,47].

* Make a list `final` using list comprehension which would contain elemnts which are in alist but not in blist.

* Print `final`

In [ ]:
alist= range(1,51)
blist=[1,3,5,10,14,13,17,19,23,29,31,38,41,45,47]
final=[i for i in alist if i not in blist]

print(final)

[2, 4, 6, 7, 8, 9, 11, 12, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 39, 40, 42, 43, 44, 46, 48, 49, 50]

<img src="https://github.com/commit-live-students/GLabs_DSMP_New_Solutions/blob/master/01_Python_Data_Science_Toolkit/03_Handling_Program_Flow_in_Python/Exercise/images/icon/Technical-Stuff.png?raw=1" alt="Technical-Stuff" style="width: 100px;float:left; margin-right:15px"/>
<br />

## What is a function?
***

Formally, a function is a useful device that groups together a set of statements so they can be run more than once. We can also specify parameters that can serve as inputs to the functions.

On a more fundamental level, functions allow us to not have to repeatedly write the same code again and again. If you remember back to the lessons on strings and lists, remember that we used a function len() to get the length of a string. Since checking the length of a sequence is a common task you would want to write a function that can do this repeatedly at command.

Functions will be one of most basic levels of reusing code in Python, and it will also allow us to start thinking of program design (we will dive much deeper into the ideas of design when we learn about Object Oriented Programming).

In [ ]:
def my_func(name):
  print("Hello "+ name)

In [ ]:
my_func("Rahul")

Hello Rahul

### Instructions

* Write a function square_root having default value of input a=9 and find the square-root of the same.

In [ ]:
import math

def square_root(num):
  return math.sqrt(num)

In [ ]:
square_root(25)

5.0

In [ ]:
square_root(100)

10.0

In [ ]:
# Function for finding Even and odd

def evenodd(n):
  if (n%2==0):
    print("even")
  else:
    print("odd")
  

 

evenodd(6)

even

In [ ]:
# function for square
def square(n):
  return (n**2)

square(2)

4

In [ ]:
#Write a Python function to sum all the numbers in a list
a=[8, 2, 3, 0, 7]

def sum(numbers):
  total=0
  for i in numbers:
    total=total+i
  return total

sum(a)

20

In [ ]:
#Write a Python function to Multiply all the numbers in a list

d=[8, 2, 3, -1, 7]

def mult(num):
  total=1
  for i in num:
    total=total*i
  return total

mult(d)

-336

### Instructions

* Write a function function_tuple that takes in two numbers a and b and returns the sum as well as the product of these numbers

In [ ]:
def function_tuple(a,b):
  return a+b,a*b

In [ ]:
function_tuple(50,100)

(150, 5000)

<img src="https://github.com/commit-live-students/GLabs_DSMP_New_Solutions/blob/master/01_Python_Data_Science_Toolkit/03_Handling_Program_Flow_in_Python/Exercise/images/icon/Concept-Alert.png?raw=1" alt="Technical-Stuff" style="width: 100px;float:left; margin-right:15px"/>
<br />

## Lambda
***
One of Pythons most useful (and for beginners, confusing) tools is the lambda expression. Lambda expressions allow us to create "anonymous" functions. This basically means we can quickly make ad-hoc functions without needing to properly define a function using def.

Function objects returned by running lambda expressions work exactly the same as those created and assigned by defs. There is key difference that makes lambda useful in specialized roles:

**Lambda's body is a single expression, not a block of statements.**
* Python supports the creation of anonymous functions at runtime, using a construct called **`lambda`**
* This approach is most commonly used when passing a simple function as an argument to another function.
* Lambdas are generally used in conjunction with typical functional concepts like `filter()`, `map()` and `reduce()`.

Now Lets slowly break down a lambda expression by deconstructing a function:

### Instructions
*  Write a lambda function to add two numbers a and b.

In [ ]:
sum= lambda x,y:x+y

sum(5,10)

15

In [ ]:
#Multiply argument a with argument b and return the result:
mul = lambda x,y:x*y
mul(3,10)

30

# * Home Work *

### Instructions
Write a Python program to get the Fibonacci series between 0 to 50.

Note : The Fibonacci Sequence is the series of numbers :
0, 1, 1, 2, 3, 5, 8, 13, 21, .... 
Every next number is found by adding up the two numbers before it.

**Pictorial Presentation:**
<img src="https://github.com/commit-live-students/GLabs_DSMP_New_Solutions/blob/master/01_Python_Data_Science_Toolkit/03_Handling_Program_Flow_in_Python/Exercise/images/conditional.png?raw=1"/>

In [ ]:
range(0,50)

range(0, 50)

In [ ]:
first = 0
second = 1
print(first)
print(second)
for i in range(0,50):
  third = first + second
  print(third)
  first,second = second,third

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309
3524578
5702887
9227465
14930352
24157817
39088169
63245986
102334155
165580141
267914296
433494437
701408733
1134903170
1836311903
2971215073
4807526976
7778742049
12586269025
20365011074

# Further Reading

- Official Python Documentation: https://docs.python.org/

# Thank You
***
### Coming up next...

- Manipulating Data Using NumPy